@model Dish

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class ="card">
                <div class="card-header bg-primary text-white">
                    <h2>Adaugati un fel de mancare</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        <div class="form-group mb-3">
                            <label asp-for="Name" class="form-label">Nume</label>
                            <input asp-for="Name" class="form-control" placeholder="Introduceti un nume" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Calories" class="form-label">Calorii</label>
                            <input asp-for="Calories" class="form-control" placeholder="Introduceti numarul de calorii" />
                            <span asp-validation-for="Calories" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Price" class="form-label">Pret</label>
                            <input asp-for="Price" class="form-control" placeholder="Introduceti pretul" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Reccomendation" class="form-label">Recomandari</label>
                            <input asp-for="Reccomendation" row="5" class="form-control" placeholder="Introduceti recomandarile" />
                            <span asp-validation-for="Reccomendation" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Description" class="form-label">Descriere</label>
                            <input asp-for="Description" row="5" class="form-control" placeholder="Introduceti descrierea produsului" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Adaugati</button>
                            <a asp-controller="Dishes" asp-action="Index" class="btn btn-secondary">Anuleaza</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}